server:
  port: 8082


logging:
  level:
    org.springframework.security: DEBUG


spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: order-service
              uri: http://localhost:3000/order/123
              predicates:
                - Path=/order/**
            - id: payment-service
              uri: http://localhost:8082
              predicates:
                - Path=/payments/**
            - id: public
              uri: http://localhost:3000/public/123
              predicates:
                - Path=/public/**
jwt:
 secret: bXktc3VwZXItc2VjdXJlLWp3dC1zZWNyZXQtaHMyNTYtMjAyNQ==
